.header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0px;
    background: linear-gradient(to bottom, rgba(216, 3, 3, 0), #63267e), url('https://h.petrichor777.com/assets/home-bg.70172f80.png');
    background-size:contain; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Fixa a imagem no lugar */
    min-height: 1150px;
    z-index: 0;
}
.header-div img{
    margin-top: 0px;
}
.carrossel img{
    width: 380px;
    height: 180px;
    border-radius: 15px;
}

.games{
    display: flex;
    margin-top: 10px;
}
