@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.logo{
  width: 140px;
  height: 90%;
}
.deposit-container{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  z-index: 10;
  background-color: transparent;
}
.deposit-div{
  display: flex;
  flex-direction: column;
  background-color: #8e44ad;
  border: 2px white solid;
  border-radius: 15px;
  width: 300px;
  height: 350px;
  z-index: 10;
}
.title-deposit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.title-deposit span{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.title-dep{
  font-weight: bold;
  font-size: 23px;
}
.subtitle-dep{
  font-size: 18px;
}
.options{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.options span{
  padding: 10px;
  border-radius: 15px;
  margin-top: 8px;
  background-color: rgb(206, 107, 189);
  border: 2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 70px;
  cursor: pointer;
}
.options span:hover{
  background-color: rgb(165, 68, 149);
}

.sign{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  z-index: 10;
  background-color: transparent;
}
.signDiv{
  display: flex;
  flex-direction: column;
  background-color: #8e44ad;
  border: 2px white solid;
  border-radius: 15px;
  width: 300px;
  height: 350px;
  z-index: 10;
}
.bi-x-circle{
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 25px;
  color: rgb(119, 8, 8);
  cursor: pointer;
}
.bi-x-circle:hover{
  color: white;
}
.title-sign{
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  height: 50px;
}
.title-sign span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.lgn-spn, .rgt-spn{
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.lgn-spn:hover, .rgt-spn:hover{
  color: white;
}
.separador{
  color: rgb(48, 48, 48);
}
.signin-div{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.signup-div{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.signup-div input{
  margin-bottom: 15px;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  width: 180px;
  height: 10px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  margin-bottom: 18px;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
#deposit-btn{
  display: none;
}
#register-btn{
  display: flex;
}
.button {
  display: inline-block;
  width: 170px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 2px solid white;
}

.button:hover:before {
  top: -35%;
  border: 2px solid white;
  background-color: #9e1192;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  border: 2px solid white;
  background-color: #9e1192;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}



.navbar{
    width: 100%;
    height: 60px;
    background-color: #8e44ad;
    display: flex;
    position: fixed;
    z-index: 1;
}
.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
}
.logo-container img{
    margin-left: 30px;
}
.nav{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.cssbuttons-io-button {
    margin-right: 30px;
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  